<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/index.css">

	<title>Web Scraper Application</title>
</head>
<body>
	<p>Movie Scrapers</p>

	<script src="js/index.js"></script>
</body>
</html>